<h1 style="text-align:center" class="text-info">Welcome Administrator </h1>

<a class="btn   btn-outline-info btn-lg btn-block" asp-controller="User" asp-action="AllUsers">All users</a>
<br>
<br>
<a class="btn btn-outline-info btn-lg btn-block" asp-controller="User" asp-action="AllAuctions">All auctions</a>
