@using AuctionAppIep.Models.View;
@model AuctionAppIep.Models.View.FilterAuctionsModel;
@{
    ViewData["Title"]="Index";
}





@{
    
    //await Html.RenderPartialAsync ( "IndexAuctions",Model );
    
}

    <a  asp-action="IndexAuctionsWithout" asp-controller="Home"
                    
    class=" btn btn-info btn-lg btn-block">See all auctions</a>


<br>
<br>



