@model AuctionAppIep.Models.View.CreateModel
@{
    ViewData["Title"] = "Create new auction";
}

@section Scripts {
    @{ await Html.RenderPartialAsync ( "_ValidationScriptsPartial" ); }
}

<h1 class="text-success" >Create new auction :)</h1>
<div class="row " >
    <div class="col-xl-6 bg-success text-white">
        <form asp-controller="Auction" asp-action="Create" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startingPrice" class="control-label"></label>
                <input asp-for="startingPrice" class="form-control" />
                <span asp-validation-for="startingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="file" class="control-label"></label>
                <input asp-for="file" class="form-control" />
                <span asp-validation-for="file" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="dateStart" class="control-label"></label>
                    <input asp-for="dateStart" class="form-control" />
                    <span asp-validation-for="dateStart" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="dateEnd" class="control-label"></label>
                    <input asp-for="dateEnd" class="form-control" />
                    <span asp-validation-for="dateEnd" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Done" class="btn btn-outline-light btn-lg btn-block" />
            </div>
        </form>
    </div>
</div>